* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

section {
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.screening-heading{
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 75px;
}

ul li::marker{
    color: #4338CA;
}

.list-left{
    padding: 0 20px; 
}

.list-vertical{
    margin-bottom: 15px; 
}

.header{
    height: 120px;
    padding: 0 50px;
    background-color: #4338CA;
    max-height: 200px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.header-row{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a:hover{
    color: #FFD600;
}

.navbar-links li a{
    text-transform: none;
    padding: 16px;
    display: block;
    color: #FFFFFF;
    font-weight: 600;
}

nav{
    display: flex;
}

#Anizoheader{
    position: sticky;
    top: 0;
    z-index: 7;
}


li a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.sticky-header + .body-anizo {
    padding-top: 100px;
  }

.underline-effect {
    display: inline-block;
    position: relative;
  }

.underline-effect::after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD600;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .sticky-header{
    position: fixed;
    z-index: 3;
    width: 100%;
    box-shadow: 0 4px 4px -5px #9d9d9d;
}

.toggle-button{
    position: absolute;
    top: 40px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #060503;
    border-radius: 10px;
}

  .blueline-effect {
    display: inline-block;
    position: relative;
  }

.blueline-effect::after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4338CA;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.blueline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.headerlogo{
    width: 200px;
    height: 100%;
}

.screening-row{
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding: 50px 30px;
}

.screening-col{
    position: relative;
    display: flex;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    flex-direction: column;
}

.universe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.circle-button{
    background-color: #4338CA;
    color: #fff;
    border-radius: 25px;
    padding: 8px 40px;
    transition: transform .2s; 
    border:none;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.effiency{
    top: 11%;
    left: 42%;
    bottom: auto;
    right: auto;
    position: absolute;
}

.fair{
    top: 39%;
    left: 70%;
    bottom: auto;
    right: auto;
    position: absolute;
}

.trust{
    top: 74%;
    left: 69%;
    bottom: auto;
    right: auto;
    position: absolute;
}

.pricing{
    top: 54%;
    left: 11%;
    bottom: auto;
    right: auto;
    position: absolute;
}

.particle{
    position: relative;
    width: 700px;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    -webkit-animation: rotate 25s normal linear infinite;
    animation: rotate 25s normal linear infinite;
}

@keyframes rotate {
    0% {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
      -webkit-transform: rotate3d(0, 0, 1, 180deg);
      transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 270deg);
      transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
      -webkit-transform: rotate3d(0, 0, 1, 360deg);
      transform: rotate3d(0, 0, 1, 360deg);
    }
  }
  

.globe{
    width: 300px;
    position: absolute;
    left: 200px;
    bottom: 190px;
    top: auto;
    transition: box-shadow 1s;
    border-radius: 50%;
}

.globe:hover{
    box-shadow: 0 0 75px 35px #ffde00;
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
}

@media screen and (min-width: 1800px) {
    .globe{
        width: 300px;
        position: absolute;
        left: 290px;
        bottom: 200px;
        top: auto;
    }
}


.headerbutton{
    background: linear-gradient(to right, #EBC604 50%, #FFD600 50%);
    border:none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #4338CA;
    font-weight: 600;
    text-transform: capitalize;
}

.headerbutton:hover{
    background-position: left bottom;
}

.bluebutton:hover{
    background-position: left bottom;
}

.bluebutton{
    background: linear-gradient(to right, #352D80 50%, #4338CA 50%);
    border:none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.tranparentbutton:hover{
    background-position: left bottom;
    color: #fff;
}

.tranparentbutton{
    background: linear-gradient(to right, #352D80 50%, #F5F7FB 50%);
    border:2px solid #4338CA;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #5844E2;
    font-weight: 600;
    text-transform: capitalize;
}

.worldbutton:hover{
    background-position: left bottom;
    padding: 7px 25px;
    font-size: 16px;
}

.worldbutton{
    background: linear-gradient(to right, #352D80 50%, #4338CA 50%);
    border:none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.button-grid{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}

.thin-strip{
    height: 10px;
    background: linear-gradient(90deg, rgba(97,27,214,1) 0%, rgba(224,88,59,1) 35%, rgba(205,243,208,1) 100%);
}


@keyframes slideleft {
    from{
        transform: translateX(-300px);
    }

    to{
        transform: translate(0);
    }
}

.contentleft{
    animation-name: slideleft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

a{
    text-decoration: none;
}

.blue-text{
    color: #4338CA;
    font-size: 20px;
}

.list-bottom{
    margin-bottom: 40px;
}

.content-head{
    font-size: 38px;
    margin-bottom: 30px;
}

.content-para{
    color: #4338CA;
    font-weight: bold;
}

.screening{
    background-color: #F5F4FC;
    display: flex;
    align-items: center;
}

.typing-demo {
    width: 103ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.exist{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
}

.exist-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.exist-col{
    width: 40%;
    margin: auto;
}

.alternatives{
    display: flex;
    align-items: center;
}

.alternatives-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.alternatives-col{
    width: 40%;
    margin: auto; 
}

.col-img{
    width: 600px;
    height: auto;
}

.ex-point{
    list-style: none;
}

.ex-point li{
    background-image: url(./img/check.svg);
    content: '';
    background-repeat: no-repeat;
    padding-left: 60px;
    height: 55px;
}

.exploring{
    background: #fff;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.exploring-container{
    text-align: center;
    padding: 0 50px;
}

.exploring-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

.exploring-col{
    padding: 25px;
    border-radius: 16px;
    position: relative;
    height: 330px;
}

.exploring-head{
    font-size: 32px;
}

.svg-explore{
    width: 100px;
    height: 100px;
}

.coding{
    background-color: #BEB9FC;
}

.coding hr{
    border: 4px solid #352D80;
    border-radius: 20px;
    width: 20%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

.sandbox{
    background-color: #F8D0F5;
}

.sandbox hr{
    border: 4px solid #A95EA3;
    border-radius: 20px;
    width: 20%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

.question{
    background-color: #B7F2CD;
}

.question hr{
    border: 4px solid #146030;
    border-radius: 20px;
    width: 20%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}

.how{
    display: flex;
    align-items: center;
}

.how-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.how-col{
    width: 40%;
    margin: auto; 
}

.applicants{
    background: #fff;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.applicants-content{
    text-align: center;
    padding: 0 50px;
}

.applicants-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.applicants-col{
    width: 100%;
    text-align: left;
    background-color: #F5F4FC;
    border-radius: 16px;
    padding: 20px 60px;
    display: flex;
}

.applicants-head{
    font-size: 24px;
    color: #4338CA;
    margin-bottom: 10px;
}

.applicants-img{
    width: 80px;
    height: auto;
}

.arrow{
    padding-left: 40px;
}

.app-inn{
    border-right: 5px solid #352D80;
    padding-right: 60px;
    display: flex;
    align-items: center;
}

.app-inner{
    padding-left: 60px;
}

.value-content{
    text-align: center;
    padding: 0 50px;
}

.value{
    display: flex;
    align-items: center;
}

.value-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    column-gap: 65px;
}

.value-col{
    background-color: #4338CA;
    border-radius: 16px;
    color: #fff;
    padding: 30px;
    height: 430px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.value-img{
    margin-bottom: 35px;
    margin-top: 50px;
}

.value-head{
    color: #FFD600;
    font-size: 21px;
    margin-bottom: 14px;
}

.value-text{
    font-size: 16px;
}

.testimonials{
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-margin-bottom: 500px;
}

body {
    background: #F5F4FC;
}

.img-text{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
}

.img-text img{
    width: 75px !important;
    height: auto;
}

.white-box{
    background: #FEFBFB;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    color: #000;
    padding: 30px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.blue-box{
    background: #4338CA;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 30px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.stars{
    display: flex;
    justify-content: center;
}

.owl-prev {
    width: 25px;
    height: 50px;
    position: absolute;
    top: 35%;
    display: block !important;
    background: #000 !important;
    color: white !important;
    border-radius: 20px !important;
    margin: auto !important;
}

.owl-prev:hover{
    background: #485769 !important;
    transition: background-color 500ms ease;
}

.owl-next:hover{
    background: #485769 !important;
    transition: background-color 500ms ease;
}

.owl-next {
    width: 25px;
    height: 50px;
    position: absolute;
    top: 35%;
    right: 0px;
    display: block !important;
    background: #000 !important;
    color: white !important;
    border-radius: 20px !important;
    margin: auto !important;
}

.owl-dot.active span, .owl-dot:hover span {
    background: #000 !important;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    width: 25px !important;
    height: 25px;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px -33px 38px -21px rgba(0,0,0,0.18);
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 0;
    background-color: #4338CA;
    background-image: url(./img/footer-image.png);
    color: #fff;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 0;
}

.six-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.six-text a{
    color: #fff;
}

.six-text a:hover{
    color:#FFD600;
}

.four-footer{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.license-background{
    background-image: url('./img/license.png');
    height: 360px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.license-background h1{
    color: #fff;
    font-size: 48px;
}

.testimonials-license{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:50px 0;
}

.tabs-license{
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.assign{
    background-color: #D8F4E0;
    border: 1px solid #086824;
    border-radius: 25px;
    color: #000000;
    padding: 5px 30px;
    cursor: pointer;
}

.revert{
    background-color: #FAD1DF;
    border: 1px solid #C67692;
    border-radius: 25px;
    color: #000000;
    padding: 5px 30px;
    cursor: pointer;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1360px;
    margin:50px 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
  }

.table-buttons{
    display: flex;
    margin-top: 40px;
    justify-content: right;
    gap: 15px;
}

.one{
    border: 1px solid #4338CA;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: #5844E2;
}

.one:hover{
    border: 1px solid #4338CA;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #5844E2;
    color: #fff;
}

.activeone{
    border: 1px solid #4338CA;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #5844E2;
    color: #fff;
}

.bl-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.bl-col{
    box-shadow: 2px 2px 6px #4338CA29;
    border: 1px solid #968FE1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}


.examt{
    font-size: 48px;
    font-weight: 800;
}

.lbutton{
    background-color: #4338CA;
    font-size: 18px;
    color: #fff;
    padding: 5px 30px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.number-license{
    background: #ECEAFA;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.number-license span{
    letter-spacing: 0px;
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}    

.tbuttons{
    color: #5844E2;
    border: 1px solid #4338CA;
    border-radius: 25px;
    padding: 5px 30px;
}

.tbuttons:hover{
    color: #fff;
    border: 1px solid #4338CA;
    background-color: #4338CA;
    border-radius: 25px;
    padding: 5px 30px;
}
  
  th, td {
    text-align: left;
    padding: 20px;
  }

  th{
    background-color: #352D80;
    color: #fff;
  }
  
  tr:nth-child(odd)
  {
    background-color: #ECEAFA;
    border:1px solid #BEB9FC
  }  

.panel{
background-color: #F5F7FB;
border: 1px solid #4338CA;
border-radius: 0px 0px 16px 16px;
display: none;
padding: 20px 30px 30px;
}

  .input {
    position: absolute;
    opacity: 0;
  }

  .label {
    width: 100%;
    padding: 10px 20px;
    background: #4338CA;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    transition: background 0.1s, color 0.1s;
    margin-right: 20px;
    border-radius: 6px 6px 0px 0px;
  }


  .label:hover {
    background: #FFD600;
    color: #352D80;
    border-radius: 6px 6px 0px 0px;
  }


  .label:active {
    background: #FFD600;
    color: #352D80;
    border-radius: 6px 6px 0px 0px;
  }


  .input:focus + .label {
    z-index: 1;
  }

  .input:checked + .label {
    background: #FFD600;
    color: #352D80;
    border: 1px solid #4338CA;
    border-radius: 6px 6px 0px 0px;
  }


  @media (min-width: 600px) {
    .label {
      width: auto;
    }
  }

  @media (min-width: 600px) {
    .panel {
      order: 99;
    }
  }

  .input:checked + .label + .panel {
    display: block;
    width: 1300px;
    max-width: 1360px;
  }

@media (max-width: 550px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }


    .toggle-button:active {
        transform: rotate(0.5turn);
        transition: 0.5s;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        position: relative;
        top: 150px;
        background-color: #ffc986;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0 4px 4px -5px #9d9d9d;
    }
}    