* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

.screening-heading{
    font-size: 55px;
    margin-bottom: 20px;
    line-height: 75px;
}

ul li::marker{
    color: #4338CA;
}

.list-left{
    padding: 0 20px; 
}

.list-vertical{
    margin-bottom: 15px; 
}

.header{
    height: 120px;
    padding: 0 50px;
    background-color: #4338CA;
    max-height: 200px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.header-row{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a:hover{
    color: #FFD600;
}

.navbar-links li a{
    text-transform: none;
    padding: 16px;
    display: block;
    color: #FFFFFF;
    font-weight: 600;
}

nav{
    display: flex;
}


li a{
    display: block;
    text-align: center;
    text-decoration: none;
}

.sticky-header + .body-anizo {
    padding-top: 100px;
  }

.underline-effect {
    display: inline-block;
    position: relative;
  }

.underline-effect::after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD600;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .sticky-header{
    position: fixed;
    z-index: 3;
    width: 100%;
    box-shadow: 0 4px 4px -5px #9d9d9d;
}

.toggle-button{
    position: absolute;
    top: 40px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #060503;
    border-radius: 10px;
}

  .blueline-effect {
    display: inline-block;
    position: relative;
  }

.blueline-effect::after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #4338CA;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.blueline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.headerlogo{
    width: 200px;
    height: 100%;
}

.screening-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 50px 0;
}

.screening-col{
    width: 45%;
    margin: auto;
    overflow: hidden;
}

.out-circle{
    background-image: url(./img/particles-circle.png);
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
}

.an-circle{
    animation: circle-rotate 10s ease-in infinite;
}

@keyframes circle-rotate{
    0%{
        transform: rotate(60deg);
    }
    20%{
        transform: rotate(120deg);
    }
    40%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(240deg);
    }
    80%{
        transform: rotate(300deg);
    }
    80%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.in-circle{
    position: absolute;
    text-align: center;
    margin: auto;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 240px;
    animation: none;
}

.world{
    cursor: pointer;
}

.world:hover{
    box-shadow: 0 0 75px 35px #ffde00;
    border-radius: 50%;
}

.bb{
    position: relative;
}

.circle-button{
    background-color: #4338CA;
    color: #fff;
    border-radius: 25px;
    padding: 7px 20px;
    transition: transform .2s; 
    border:none;
    cursor: pointer;
    z-index: 2;
}

.circle-button:hover{
    transform: scale(1.2);
}

.pricing{
    position: absolute;
    top: 50%;
    left: 10%;
}

.effiency{
    position: absolute;
    top: 15%;
    left: 40%;
}

.fair{
    position: absolute;
    top: 40%;
    left: 75%;
}

.trust{
    position: absolute;
    top: 70%;
    left: 75%;
}



.headerbutton{
    background: linear-gradient(to right, #EBC604 50%, #FFD600 50%);
    border:none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #4338CA;
    font-weight: 600;
    text-transform: capitalize;
}

.headerbutton:hover{
    background-position: left bottom;
}

.bluebutton:hover{
    background-position: left bottom;
}

.bluebutton{
    background: linear-gradient(to right, #352D80 50%, #4338CA 50%);
    border:none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.tranparentbutton:hover{
    background-position: left bottom;
    color: #fff;
}

.tranparentbutton{
    background: linear-gradient(to right, #352D80 50%, #F5F7FB 50%);
    border:2px solid #4338CA;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #5844E2;
    font-weight: 600;
    text-transform: capitalize;
}

.worldbutton:hover{
    background-position: left bottom;
    padding: 7px 25px;
    font-size: 16px;
}

.worldbutton{
    background: linear-gradient(to right, #352D80 50%, #4338CA 50%);
    border:none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 20px;
    background-position: right bottom;
    background-size: 200% 100%;
    transition: all .5s ease-out;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}

.button-grid{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}

.thin-strip{
    height: 10px;
    background: linear-gradient(90deg, rgba(97,27,214,1) 0%, rgba(224,88,59,1) 35%, rgba(205,243,208,1) 100%);
}

a{
    text-decoration: none;
}

.blue-text{
    color: #4338CA;
    font-size: 20px;
}

.list-bottom{
    margin-bottom: 40px;
}

.content-head{
    font-size: 55px;
    margin-bottom: 30px;
}

.content-para{
    color: #4338CA;
    font-weight: bold;
}

.screening{
    background-color: #F5F4FC;
}

.exist{
    background-color: #FFFFFF;
}

.exist-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 100px 0;
}

.exist-col{
    width: 40%;
    margin: auto;
}

.alternatives-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 100px 0;
}

.alternatives-col{
    width: 40%;
    margin: auto; 
}

.col-img{
    width: 600px;
    height: auto;
}

.ex-point{
    list-style: none;
}

.ex-point li{
    background-image: url(./img/check.svg);
    content: '';
    background-repeat: no-repeat;
    padding-left: 60px;
    height: 55px;
}

.exploring{
    background: #fff;
    text-align: center;
    padding: 100px 50px;
}

.exploring-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 50px 0;
}

.exploring-col{
    width: 30%;
    padding: 20px;
    border-radius: 16px;
    height: 470px;
}

.exploring-head{
    font-size: 42px;
    margin-bottom: 27px;
}

.coding{
    background-color: #BEB9FC;
}

.coding br{
    border: 1px solid #352D80;
    border-radius: 20px;
}

.sandbox{
    background-color: #F8D0F5;
}

.question{
    background-color: #B7F2CD;
}

.how-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 100px 0;
}

.how-col{
    width: 40%;
    margin: auto; 
}

.applicants{
    background: #fff;
    text-align: center;
    padding: 100px 50px;
}

.applicants-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.applicants-col{
    width: 100%;
    text-align: left;
    background-color: #F5F4FC;
    border-radius: 16px;
    padding: 30px 60px;
    display: flex;
}



.applicants-head{
    font-size: 32px;
    color: #4338CA;
    margin-bottom: 10px;
}

.applicants-img{
    width: 100px;
    height: auto;
}

.arrow{
    padding-left: 40px;
}

.app-inn{
    border-right: 5px solid #352D80;
    padding-right: 60px;
    display: flex;
    align-items: center;
}

.app-inner{
    padding-left: 60px;
}

.value{
    text-align: center;
    padding: 100px 50px;
}

.value-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.value-col{
    width: 20%;
    background-color: #4338CA;
    border-radius: 16px;
    color: #fff;
    padding: 30px;
    height: 430px;
}

.value-img{
    margin-bottom: 35px;
    margin-top: 50px;
}

.value-head{
    color: #FFD600;
    font-size: 32px;
    margin-bottom: 14px;
}

.value-text{
    font-size: 20px;
}

.testimonials{
    background: #fff;
    text-align: center;
    padding: 100px 50px;
}

body {
    background: #F5F4FC;
}

@media (max-width: 550px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }


    .toggle-button:active {
        transform: rotate(0.5turn);
        transition: 0.5s;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        position: relative;
        top: 150px;
        background-color: #ffc986;
        padding: 10px 10px;
        border-radius: 10px;
        box-shadow: 0 4px 4px -5px #9d9d9d;
    }
}    